<div class="container-fluid" *ngIf = "!gameEnded">
  <div class="row">
    <h3 class="semi_titles col-xs-12">Write the color that the word is colored in</h3>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="game_button" id="start_button" (click)="startGame()" [disabled]="disVar" style="vertical-align:middle"><span>START</span></button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="semi_titles">Time left:<span class="semi_titles">{{counter}}</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="semi_titles">Number of Tries:<span class="semi_titles">{{numTries}}</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="semi_titles">Correct:<span class="semi_titles">{{numCorrect}}</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4 id="word" class="semi_titles col-xs-12" [style.color]="color">{{txt}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="game_button">
        <li><button class="game_button" (click)="continueGame(0)" value="red" [disabled]="!disVar">red</button></li>
        <li><button class="game_button" (click)="continueGame(1)" value="blue" [disabled]="!disVar">blue</button></li>
        <li><button class="game_button" (click)="continueGame(2)" value="green" [disabled]="!disVar">green</button></li>
      </ul>
    </div>
  </div>
  <br><br><br>
</div>

<div class="container-fluid" *ngIf="gameEnded">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="semi_titles"> Game is over! </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="semi_titles"> Number correct = {{numCorrect}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="semi_titles"> Percentage correct = {{numCorrect/numTries}}</h4>
    </div>
  </div>

  <button class="game_button" id="start_button" (click)="startGame()"  style="vertical-align:middle"><span>RESTART</span></button><br><br>

</div>
