<form class="forms" action="login.php" name="login_form" method="post">
  <input type="text" placeholder="username" name="username"><span id="usernameError" class="errorMsg"></span><br><br>
  <input type="password" placeholder="password" name="password"><span id="passwordError" class="errorMsg"></span><br><br>
  <input type="submit" class="buttons" value="Log in!" id="submit_button">
  <input type="reset" class="buttons" id="reset_button"><br><br>
<!--  &nbsp;&nbsp;<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>-->

  <div id="status">
  </div>
</form>
