<form class="forms" [formGroup]="signupForm" #formDir="ngForm">

  <div [hidden]="formDir.submitted">
    <input placeholder="username" id="username" formControlName="username" required>
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
      <div class="errorMsg" *ngIf="username.errors.required">
        username is required
      </div>
    </div>
    <span *ngIf="username.errors.minlength">
      Name must be at least 4 characters long.
    </span>
    <br><br>
    <input type="password" placeholder="password" id="password" formControlName="password" required><br><br>
    <span class="errorMsg" *ngIf="password.errors.required">
      password is required
    </span>
    <input type="password" placeholder="validate password" name="password2"><span id="password2Error" class="errorMsg"></span><br><br>
    <input type="email" placeholder="email" name="email"><span id="emailError" class="errorMsg"></span><br><br>

    <span>mother tongue:</span>&nbsp;&nbsp;
    <select name="mother_tongue" class="form-control" formControlName="language" required>
      <option *ngFor="let l of languages" [value]="l">{{l}}</option>
    </select><br><br><br>

    <input type="submit" class="buttons" id="submit_button" [disabled]="signupForm.invalid">
    <input type="reset" class="buttons" id="reset_button" >
  </div>
</form>
