<div class="container">

  <h1>Reactive Form</h1>

  <form [formGroup]="signupForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

      <div class="form-group">

        <label for="name">Username</label>
        <input id="name" class="form-control" formControlName="name" required >

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Username is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Username must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password"  required >

        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">Password is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password2">Verify Password</label>
        <input type="password"  id="password2" class="form-control" formControlName="password2"  required >

        <div *ngIf="passwordsMatch.invalid && (password2.dirty || password2.touched)" class="alert alert-danger">
          <div *ngIf="password2.errors.required">Passwords do not match.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="language">Mother tongue</label>
        <select id="language" class="form-control" formControlName="language" required >
          <option *ngFor="let p of languages" [value]="p">{{p}}</option>
        </select>

        <div *ngIf="language.invalid && language.touched" class="alert alert-danger">
          <div *ngIf="language.errors.required">Language is required.</div>
        </div>
      </div>

      <button type="submit" class="btn btn-default buttons"
              [disabled]="signupForm.invalid" id="submit_button">Submit</button>
      <button type="button" class="btn btn-default buttons"
              (click)="formDir.resetForm({})" id="reset_button">Reset</button>
    </div>
  </form>

  <div class="submitted-message" *ngIf="formDir.submitted">
    <p>Happy you signed up, {{ name }}!</p>
  </div>
</div>


<!--
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
